[Desktop Entry]
Name=Matata Studio VinceBot
Exec=/usr/bin/vx-matatacode
Icon=matatacode
Categories=Education;Development;
Type=Application
Comment=Acceso directo a Matata Studio VinceBot
