[Desktop Entry]
Name=Matata Studio VinceBot
Exec=x-www-browser https://vinci.matatastudio.com/
Icon=matatacode
Categories=Education;Development;Escuela40;
Type=Application
Comment=Acceso directo a Matata Studio VinceBot
